<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
        <link rel="stylesheet" href="/dashboard.css">
    </head>
    <body>
        <div>
            <h1>LMU Stock</h1>
            <h3>$<%= sharesValue %></h3>
            <h6><%= shares %> Shares @ $3.14</h6>
    
            <p><a href="/transfer">Transfer</a></p>
        </div>
        <p><a href="/logout">Logout</a></p>
    </body>
</html>